name: publish

on: push

jobs:
  publish:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up Python 3.9
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.9
    - name: Run tests
      run: |
        python -m pip install --upgrade pip
        sh test.sh
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - name: Publish release
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        python -m pip install --user wheel twine setuptools -U
        rm -rf dist
        rm -rf build
        echo 'Current version:'
        echo ${{ steps.get_version.outputs.VERSION }}
        sed -ri -e 's!CURRENT_VERSION!${{ steps.get_version.outputs.VERSION }}!g' setup.py
        cat setup.py
        python setup.py sdist bdist_wheel
        twine check dist/*
        twine upload dist/*
