name: pull_request

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --user "py_dto >= 0.4.0"
      - name: Run tests
        run: |
          sh test.sh
      - name: Get PR author
        id: get_author
        run: echo ::set-output name=AUTHOR::${{ github.event.pull_request.user.login }}
      - name: SonarCloud Scan
        if: ${{ matrix.python-version == '3.10' && steps.get_author.outputs.AUTHOR == 'rogervila' }}
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.SONAR_GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
        with:
          args: >
            -Dsonar.organization=rogervila-github
            -Dsonar.projectKey=rogervila_python_simple_rules_engine
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.python.version=3.10
            -Dsonar.sources=.
            -Dsonar.exclusions=tests/**
            -Dsonar.test.exclusions=tests/**
            -Dsonar.tests=tests/
            -Dsonar.verbose=true
